/* General */
.spacer {
  display: block;
  width: 100%;
  height: 150px;
}



/* Menu */

/* Estilos padrão para os itens do menu */
.menu {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu li {
  position: relative;
  margin: 0 10px;
  padding: 10px;
  text-decoration: none;
}

/* Efeito de quadrado no hover para os itens do menu */
.menu li::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background: #140C93;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease;
  transform-origin: left;
}

.menu li:hover::before {
  width: 100%;
}

/* Mudança de cor do texto no hover */
.menu li:hover a {
  color: #140C93;
}

/* Estilos para itens de submenu */
.has-submenu .submenu-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  min-width: 200px;
  z-index: 1;
}

.has-submenu:hover .submenu-content,
.has-submenu:focus-within .submenu-content {
  display: block;
}

/* Ícone de seta para baixo no submenu */
.has-submenu .submenu-toggle {
  position: relative;
  padding-right: 20px; /* Espaço para o ícone de seta */
  cursor: pointer;
}

.has-submenu .submenu-toggle::after {
  content: " ▼"; /* Ícone de seta para baixo */
  position: absolute;
  right: 0;
  pointer-events: none;
}

.has-submenu:hover .submenu-toggle::after,
.has-submenu:focus-within .submenu-toggle::after {
  content: " ▲"; /* Ícone de seta para cima no hover */
}

.has-submenu ul {
  list-style: none; /* Remover bullets das subopções */
}

.has-submenu ul li {
  padding: 5px 0; /* Espaçamento entre subopções */
}

.current-page {
  font-weight: bold;
  color: #140C93;
  text-decoration: none;
  padding: 10px;
  border-bottom: 3px solid #140C93;
}

.current-page:hover,
.current-page:focus {
  text-decoration: none;
}

li a {
  text-decoration: none;
}



/* Seletor de idioma */

.language-container {
  display: flex;
  align-items: center;
}

.label {
  display: flex;
  align-items: center;
  background: none;
  border: none;
}

.bi-globe,
.bi-chevron-down {
  font-size: 24px;
  color: #333;
  margin: 0 5px;
}

.language-select {
  border: none;
  padding: 5px;
  font-size: 16px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: auto;
  min-width: 100px;
}


.language-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 5px;
  background: url('../img/chevron_down_icon.svg') no-repeat right center;
}

.language-select::-ms-expand {
  display: none; 
}


/* Tabela do gráfico */

.table-container {
  max-width: 800px;
  margin: 0 auto;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

caption {
  font-size: 1rem;
  text-align: center;
  padding: 10px 0;
}

table th {
  text-align: right;
}

th.header-cell {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  text-align: left; 
}

td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* footer */
.footer-supporters {
  background-color: #ccc !important;
  padding: 20px;
  text-align: center;
  color: #fff;
}

.apoios-policies-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #070F1E;
}

.apoios-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.apoios-logos img {
  margin: 0 20px;
  max-width: 200px;
  max-height: 80px;
}

.policies {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #070F1E;
}

.footer-text {
  text-align: left;
  flex: 1;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.footer-links a:hover {
  text-decoration: underline;
}
.apoios-logos img {
  width: 25%;
}

/* formulário */


fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: bold;
}


.radio-group input[type="radio"] {
  vertical-align: middle;
  margin-right: 5px;
}
