/* General */
.spacer {
  display: block;
  width: 100%;
  height: 150px;
}

/* Footer */
.footer-supporters {
  background-color: #ccc;
}
.footer-supporters__title {
  color: #000;
}

.apoios-logos img {
  width: 25%;
}